

<div class="container mt-4">
    <div class="row">
      <div class="mx-auto col-10">
        <h2 class="border-bottom text-center">商品一覧</h2>
        <div class="text-center mt-5">
          <% @items.each do |item| %>
            <%= link_to admin_item_path(item.id) do %>
             <%= image_tag item.get_image, size:"200x200", class: "border border-5 mx-3 my-3" %>
            <% end %>
          <% end %> 
        </div>
        <h5 class="text-center mt-5">
          <%= link_to "商品新規登録", new_admin_item_path, class: "btn btn-lg btn-primary" %>
        </h5>
        <h5 class="text-center mt-5">
          <%= link_to "TOP画面", admin_path, class: "btn btn-lg btn-warning" %>
        </h5>
        
      </div>
    </div>
</div>




