

@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';


 * {
  margin:0;
  padding:0;
  box-sizing: border-box;
}




.lead {
  background-color: #EEEEEE;
}

thead {
  background-color: #EEEEEE;
}

.about {
  font-size: 5vmax;
}

 .cover-img {
  background-size: cover;
  background-position: center;
  width: 40%;
  height: 250px;
}

.back {
  background-color: rgba( 0, 0, 0, 0.2);
}


.title {
  background-color: #EEEEEE;
}

.table table-bordered col-2 {
  height: 200px;
}

// thanksページ
.thanks { 
  margin-top : 180px;
}


